html {
    margin: 0;
    padding: 0;
}
body {
    margin-top: 10%;
    background: #192A32;
    display: flex;
    justify-content: center;
    align-items: center;
}
div {
    font-weight: 800;
    color: #0B5C5D;
}
.container { 
    height: 400px;
    width:  400px;
    display: grid;
    justify-items: center;
    grid-gap: 10px 10px 10px 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}
.a {
    margin-bottom: 20px;
    border-radius: 20px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1F3540;
    box-shadow: 3px 21px 16px 5px #10222B;
}
.cell {
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 20px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1F3540;
    box-shadow: 3px 21px 16px 5px #10222B;
    font-size: 100px;
}
.cell-12 {
    height: 70px;
    background-color: #F0B238;
    box-shadow: none;
}
.cell-11 {
    height: 70px;
    background-color: #91999D;
    box-shadow: none;
}
.cell-10 {
    height: 70px;
    background-color: #31C3BE;
    box-shadow: none;
}
.xo {
    height: 50%;
    margin-top: auto;
    background-color: #192A32;
    box-shadow: none;
   margin-right: auto;
   margin-top: auto;

}
.turn {
    margin-top: auto;
    height: 50%;
    color: #91999D;
}
.btn {
   
    margin-top: auto;
    height: 50%;
}
button {
    cursor: pointer;
    color: #91999D;
    background-color: #1F3540;
    border: none;
}
button:hover {

    transform: scale(120%);
}
img {
    height: 50px;
    width: 50px;
}
